h1 New phone for #{@contact.name}
hr
= form_for(@phone, url: contact_phones_url(@contact)) do |phone_form|
  = phone_form.hidden_field :contact_id, value: @contact.id
  = phone_form.label :number
  = phone_form.text_field :number
  br
  = phone_form.submit t('action.create')