h1 Edit Contact for #{@contact.name}

= form_for(@contact) do |contact_form|
  = contact_form.label :first_name
  = contact_form.text_field :first_name
  br
  = contact_form.label :last_name
  = contact_form.text_field :last_name
  br



  = submit_tag