Import csv
hr
Imported
b
  | Imported #{@contacts_count[:imported]}
br
b
  | Updated #{@contacts_count[:updated]}

hr
= form_for(:contact, :html => { :multipart => true }) do |f|
  = f.file_field(:csv_file)
  br
  = f.submit t('action.import_csv')
