h1 Contacts list
= link_to t('export_to_csv'), csv_export_path(format: :csv)
= link_to t('import_from_csv'), csv_import_path

- unless @contacts.empty?
  table#table
    thead
      tr
        td id
        td = t('models.contact.first_name')
        td = t('models.contact.last_name')
        td = t('models.contact.phones')
        td = t('models.contact.emails')
        td = t('global.actions')

    - @contacts.each do |contact|
      tr
        td = contact.id
        td = contact.first_name
        td = contact.last_name
        td = contact.phones.count
        td = contact.emails.count
        td
          = link_to t('action.edit'), edit_contact_path(contact)
          br
          = link_to t('actions.view'), contact_path(contact)
          br
          = link_to t('actions.share_by_mail'), contact_share_path(contact)
          br
          = link_to t('actions.new_phone'), new_contact_phones_path(contact)
          br
          = link_to t('actions.new_email'), new_contact_emails_path(contact)
          br
          = link_to t('actions.destroy'), contact_path(contact), {method: :delete}
