h1 New contact

= form_for(@contact) do |contact_form|
  = contact_form.label :first_name
  = contact_form.text_field :first_name
  br
  = contact_form.label :last_name
  = contact_form.text_field :last_name
  br

  = contact_form.fields_for :phone do |phone|
    = phone.label :number
    = phone.text_field :number

  br
  = contact_form.fields_for :email do |email|
    = email.label :email
    = email.text_field :email



  = submit_tag