h1 Contact #{@contact.id} for #{@contact.name}

- if @contact.errors.full_messages.count > 0
  hr
  - @contact.errors.full_messages.each do |error_message|
    b = error_message


= link_to t('action.edit'), edit_contact_path(@contact)
br
= link_to t('actions.share_by_mail'), contact_share_path(@contact)
br
= link_to t('actions.new_phone'), new_contact_phones_path(@contact)
br
= link_to t('actions.new_email'), new_contact_emails_path(@contact)
br
= link_to t('actions.destroy'), contact_path(@contact), {method: :delete}
hr
h3 Share
= form_for(@contact, {url: contact_share_path(contact_id: @contact.id), method: :post}) do |f|
 = f.text_field :recipient
 = f.submit t('action.share')
hr
h3 Phones
table
  thead
    tr
      td id
      td = t('global.phone_number')
      td = t('global.actions')
  - @contact.phones.each do |phone|
    tr
      td = phone.id
      td = phone.number
      td
        = link_to t('actions.delete'), contact_phones_url(@contact, id: phone.id), {method: :delete}


hr
h3 Emails
table
  thead
    tr
      td id
      td = t('global.email')
      td = t('global.actions')
  - @contact.emails.each do |email|
    tr
      td = email.id
      td = email.email
      td
        = link_to t('actions.delete'), contact_emails_url(@contact, id: email.id), {method: :delete}


