doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    h1 Hey bro! Some contact shared for you
    p
      | First name #{@contact.first_name}
      | Last name #{@contact.last_name}
    h3 Phones
    table
      thead
        tr
          td id
          td = t('global.phone_number')
      - @contact.phones.each do |phone|
        tr
          td = phone.id
          td = phone.number
    hr
    h3 Emails
    table
      thead
        tr
          td id
          td = t('global.email')
      - @contact.emails.each do |email|
        tr
          td = email.id
          td = email.email


