// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Lets learn ) hm..

body
  font-size: 14px
#table
  font-size: 14px
  > thead tr td
    background-color: lightblue
  > tbody tr td
    border-bottom: 1px solid lightgray