h1 New Email for #{@contact.name}
hr
= form_for(@email, url: contact_emails_url(@contact)) do |email_form|
  = email_form.hidden_field :contact_id, value: @contact.id
  = email_form.label :email
  = email_form.text_field :email
  br
  = email_form.submit t('action.create')