<!DOCTYPE html>
<html>
<head>
  <title>TestProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to t('pages.home'), contacts_url %>
<%= link_to t('new_contact'), new_contact_path %>

<% flash[:error].each do |value| %>
    <div id="error"><%= value %></div>
<% end %>

<% flash[:notice].each do |value| %>
    <div id="notice"><%= value %></div>
<% end %>

<%= yield %>

</body>
</html>
